<div class="container">
  <div class="row">
    <div class="card-big-one col-lg-10 d-flex align-items-center">
    <div><%= attachment_image_tag @food_image, :image , size: "800×600", format: 'jpeg' %></div>
  <div class="col-lg-8">
        <table class="table table-borderless">
          <tbody>
            <tr>
                <td><p>店舗名：<%= @food_image.shop_name %></p>
                <% if @food_image.likes_by?(current_user) %>
                <p>
                <%= link_to food_image_likes_path(@food_image), method: :delete do %>
                <i class="far fa-heart like-btn" ><%= @food_image.likes.count %></i>
                <% end %>
                </p>
                <% else %>
                <p>
                <%= link_to food_image_likes_path(@food_image), method: :post do %>
                <i class="far fa-heart like-btn" ><%= @food_image.likes.count %></i>
                <% end %>
                </p>
                <% end %>
                </td>
            </tr>
            <tr>
              <td><p><%= @food_image.title %></p></td>
            </tr>
            <tr>
              <td><p><%= @food_image.caption %></p></p></td>
            </tr>
            <tr>
              <td><p>営業時間：<%= @food_image.hour %></p></td>
            </tr>
            <tr>
              <td><p>休業日：<%= @food_image.holiday %></p></td>
            </tr>
            <tr>
              <td><p>アクセス：<%= @food_image.address %></p><div id='map'></div></td>
            </tr>
          </tbody>
        </table>
    </div>



        <style>
        #map{
          width: 340px;
          height: 250px;
        }
        </style>

        <script>
          let map
          let geocoder

          function initMap(){
            // geocoderを初期化
           var test ={lat: <%= @food_image.latitude %>, lng: <%= @food_image.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15, 
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @food_image.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

 
    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
                 });

     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
  }

        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAP_API_KEY']%>&callback=initMap" async defer></script>
 </div> 
 </div>