<div>
  <%= attachment_image_tag @food_image, :image %>
  <p>店舗名：<%= @food_image.shop_name %></p>
  <p>投稿タイトル：<%= @food_image.title %></p>
  <p>説明：<%= @food_image.caption %></p>
  <p>営業時間：<%= @food_image.hour %></p>
  <p>休業日：<%= @food_image.holiday %></p>
    <div class="row my-3">
     <div class="col-md-6">
      <h5>アクセス：<%= @food_image.address %></h5>
      <div class="d-flex align-items-center">
        <div id='map'></div>

        <style>
        #map{
          width: 340px;
          height: 250px;
        }
        </style>

        <script>
          let map
          let geocoder

          function initMap(){
            // geocoderを初期化
           var test ={lat: <%= @food_image.latitude %>, lng: <%= @food_image.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15, 
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @food_image.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

 
    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
                 });

     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
  }

        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAP_API_KEY']%>&callback=initMap" async defer></script>
      </div>
    </div>
    
  <div>
<% if @food_image.food == current_food %>
    <%= link_to "削除", food_image_path(@food_image), method: :delete %>
  <% end %>
</div>
</div>
